$themePrimaryColor: "[theme: themePrimary, default: #0cabe7]";
$themeLighterAltColor: "[theme: themeLighterAlt, default: #f4fcfe]";
$themeLighterColor: "[theme: themeLighter, default: #d5f1fb]";
$themeLightColor: "[theme: themeLight, default: #b1e5f8]";
$themeTertiaryColor: "[theme: themeTertiary, default: #68cdf1]";
$themeSecondaryColor: "[theme: themeSecondary, default: #27b6eb]";
$themeDarkAltColor: "[theme: themeDarkAlt, default: #0a9cd1]";
$themeDarkColor: "[theme: themeDark, default: #0984b0]";
$themeDarkerColor: "[theme: themeDarker, default: #066182]";
$neutralLighterAltColor: "[theme: neutralLighterAlt, default: #cfe9f1]";
$neutralLighterColor: "[theme: neutralLighter, default: #cce5ed]";
$neutralLightColor: "[theme: neutralLight, default: #c3dce3]";
$neutralQuaternaryAltColor: "[theme: neutralQuaternaryAlt, default: #b6cdd3]";
$neutralQuaternaryColor: "[theme: neutralQuaternary, default: #aec3ca]";
$neutralTertiaryAltColor: "[theme: neutralTertiaryAlt, default: #a7bcc2]";
$neutralTertiaryColor: "[theme: neutralTertiary, default: rgba(169, 207, 227, 0.9986567710762593)]";
$neutralSecondaryColor: "[theme: neutralSecondary, default: rgba(97, 164, 200, 0.9986567710762593)]";
$neutralPrimaryAltColor: "[theme: neutralPrimaryAlt, default: rgba(42, 128, 174, 0.9986567710762593)]";
$neutralPrimaryColor: "[theme: neutralPrimary, default: rgba(22, 114, 162, 0.9986567710762593)]";
$neutralDarkColor: "[theme: neutralDark, default: rgba(17, 87, 124, 0.9986567710762593)]";
$blackColor: "[theme: black, default: rgba(13, 64, 91, 0.9986567710762593)]";
$whiteColor: "[theme: white, default: #d5f0f8]";
$primaryBackgroundColor: "[theme: primaryBackground, default: #d5f0f8]";
$primaryTextColor: "[theme: primaryText, default: rgba(22, 114, 162, 0.9986567710762593)]";
$bodyBackgroundColor: "[theme: bodyBackground, default: #d5f0f8]";
$bodyTextColor: "[theme: bodyText, default: rgba(22, 114, 162, 0.9986567710762593)]";
$disabledBackgroundColor: "[theme: disabledBackground, default: #cce5ed]";
$disabledTextColor: "[theme: disabledText, default: #a7bcc2]";
